{% extends 'base.html.twig' %}

{% block body %}
    <h1>Panierr</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ panierr.id }}</td>
            </tr>
            <tr>
                <th>Datamod</th>
                <td>{% if panierr.dataMod %}{{ panierr.dataMod|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('panierr_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('panierr_edit', { 'id': panierr.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
