{% extends 'baseback.html.twig' %}
{% block content %}

    <h1>Comds list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Prixtot</th>
                <th>Datecommande</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comd in comds %}
            <tr>
                <td><a href="{{ path('commande_Affiche', { 'id': comd.id }) }}">{{ comd.id }}</a></td>
                <td>{{ comd.prixTot }}</td>
                <td>{% if comd.dateCommande %}{{ comd.dateCommande|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commande_show', { 'id': comd.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comd_delete', { 'id': comd.id }) }}">Delete hhhhh</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commande_new') }}">Create a new comd</a>
        </li>
        <li>
            <a class="btn btn-primary"  href="{{ path('commande_excel') }}">telecharger review</a>
        </li>
    </ul>

{% endblock %}
